
@{
    ViewBag.Title = "DatosP";
}

<h2>DatosP</h2>

<p>
    Nombre: Emmanuel David Carbonell Lopez
    Matricula: 2016-4254
    Seccion: Grupo 1
</p>

<img src="https://www.okchicas.com/wp-content/uploads/2020/11/Michael-B.-Jordan.jpg" alt="Foto" />
