

@{
    ViewBag.Title = "Inicio";
}

<h2>Bienvenidos a Tarea 2 Prog(Fogueo) </h2>



<img src="https://storage.googleapis.com/mmc-elcaribe-bucket/uploads/2020/11/2ac7ecad-2-5fa42e7c829c8.jpg" alt="Itla" />


<a href="Home/POO" class="btn btn-primary">Entrar</a>