@{
    ViewBag.Title = "POO";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h4>Programacion Orientada a Objetos</h4> 


<p>
    Los 4 pilares de la Programación Orientada a Objetos:

    C# is an object-oriented programming language. The four basic principles of object-oriented programming are:

    Abstraction: Modeling the relevant attributes and interactions of entities as classes to define an abstract representation of a system.
    Encapsulation: Hiding the internal state and functionality of an object and only allowing access through a public set of functions.
    Inheritance: Ability to create new abstractions based on existing abstractions.
    Polymorphism: Ability to implement inherited properties or methods in different ways across multiple abstractions.
</p>
